@font-face{
	font-family : Lato;
	src : url(Lato-regular.ttf);
}

body {
    margin: 0;
    padding: 0;
	height: 100%;
}

header {
    background-color: rgb(3,34,76);
	display : flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
}

#divheader:hover{
	filter: opacity(100%);
}

html{
	height : 100%;
    z-index:1;
    font-family: Lato;
}

#divheader {
	z-index : 3;
    width: 100%;
	height : 10%;
	background-color: rgb(3,34,76);
	filter: opacity(80%);
    display: flex;
    flex-direction: row;
	justify-content : space-between;
	position : fixed;
	margin: auto;
}

#menulogo {
    height: 30%;
    width: 1.7%;
	padding : 1%;
	margin: auto 0 auto 0;
    cursor: pointer;
}

#menu {
    color: #83D2D7;
	margin: auto auto auto 1vmin;
	font-size : 2.3Vmin;
    font-size : 2.3Vm;
    cursor: pointer;
}

#logo {
    width: 16vmin;
    width: 16vm;
	padding : auto;
	margin: auto 50vmin auto auto;
}

#search {
    color: grey;
    border-color: red;
	border-style : solid;
	border-width : 0px;
    width: 50vmin;
    width: 50vm;
    height: 2.5vmin;
    height: 2.5vm;
    border-radius: 1vmin;
    border-radius: 1vm;
    padding-left: 1vmin;
    padding-left: 1vm;
	margin: auto 0 auto 1vmin;
	font-size : 1.5vmin;
	font-size : 1.5vm;
}

#searchbutton {
    position: relative;
    height: 25%;
    width: 3% 
    padding: 0  1% 0 0;
	margin: auto 2vmin auto 0.5vmin;
	margin: auto 2vm auto 0.5vm;
    cursor: pointer;
}

#cart{
    height: 60%;
    padding: 0  1% 0 0;
	margin: 1.6vmin 0 1vmin 0;
	margin: 1.6vm 0 1vm 0;
}

#sidebar{
    cursor:default;
    position: fixed;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
	margin-top : 10%;
	width: 15%;
	height : 90%;
	background-color: #FCFCFC;
	flex-direction : column;
	display: none;
	padding-left : 0.2%;
	padding-right : 0.2%;
	text-align : center;
    font-size: 1.8vmin;
    font-size: 1.8vm;
    
}

a>#sidebar:hover{
    cursor:
}

mark{
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

#sidebar>label>mark:hover{
    border-radius: 5px;
	background-color: rgba(220,220,220,0.3);
}

#content{
    display: flex;
	background-color:#ffffff;
    flex-direction: column;
    justify-content: space-between;
}

#articles{
    clear: both;
    margin-top:3vmin;
    margin-top:3vm;
    margin-bottom:3vmin;
    margin-bottom:3vm;
    display :  flex;
    width : 100%;
    justify-content: space-between;
    height: 30%;
}

/* BANNER */


#ads_banner {
    width: 100%;
    height: 20%;
}

#arrows {
	position: absolute;
	top: 26%;
	display: flex;
    opacity: 0.6;
	flex-direction: row;
	justify-content: space-between;
	height: 6vmin;
    height: 6vm;
	width: 100%;
}

#arrows > img {
	cursor: pointer;
}

/*FOOTER */


footer {
    clear: both;
    background-color: #03224C;
    width: 100%;
    height: 70%;
    margin-top 0;
    margin-bottom: 0;
    color: white;
    font-size: 2vmin;
    font-size: 2vm;
}

#footerlink {
    display: flex;
    flex-direction: row;
	justify-content: space-around;
    text-align: center;
}

.elementfooter > a {
    color: white;
    text-decoration: none;
}

#footerlogo > a > img {
    /*min-width: 150px;
    max-height: 75px;*/
    width: 10%;
    height: 10%;
    margin-right: 45%;
    margin-left: 45%;
    bottom: 0;
    padding: 0;
}

#footercountries > p > a {
    color: white;
    text-decoration: none;
}

#footercountries > p {
    text-align: center;
}

#conditionsgenerales {
    text-align: center;
}

#carticle1, #carticle2, #carticle3, #carticle4, #carticle5{
	display:none;
	flex-direction:row;
	background-color: #000;
	width: 10%;
	height:100%;
	margin-right: 2%;
}
#carticle1>img, #carticle2>img, #carticle3>img, #carticle4>img, #carticle5>img{
	height:100%;
	width:auto;
}

.titretprix{
	height:100%;
	width:auto;
	flex-direction: column;
}

 /*Tooltip text*/ 
 .tooltiptext {
    /*visibility: hidden;*/
	top:10%;
	color:#FFF;
	width:100%;
	height:17%;
	z-index:5;
	position: absolute;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	background-color: #000;
	border-radius: 5px;
 }

/* CONTENT */


#recommandations {
    height: 100%;
    margin-left:  0.5%;
    margin-right: 0;
    margin-bottom: 0.1%;
    font-size: 3vmin;
    font-size: 3vm;
    font-weight: bold;
    
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#articles{
    clear: both;
    margin-bottom:3vmin;
    margin-bottom:3vm;
    display: flex;
    width : 100%;
    justify-content: space-between;
    height: 30%;
	align-items: stretch;
}

#articles>div{
    clear: both;
    display :  flex;
    width: 100%;
    height: 100%;
    margin-left:  0.5%;
    margin-right: 0;
    text-align: center;
}

#articles > .arts > p {
    width: 100%;
    text-align: center;
}

.description {
    width: 100%;
    text-align: center;
    font-size: 1.8vmin;
    font-size: 1.8vm;
}

#articles > div > img {
	width: 60%;
	height: 60%;
    border-radius : 1vmin;
    margin: 0 auto 0 auto;
}

.prix {
    color: #b30000;
    font-weight: bold;
    font-size: 2.2vmin;
    font-size: 2.2vm;
}

.arts {
    display: flex;
    flex-direction: column;
	height:100%;
	background-color : #DEDEDE;
    border-color: grey;
    border-style: solid;
    border-width: 0.3vmin;
    border-width: 0.3vm;
	border-radius : 1vmin;
	border-radius : 1vm;
}

input[type="button"] {
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 1.8vmin;
    font-size: 1.8vm;
}

.titre {
    font-size: 2.5vmin;
    font-size: 2.5vm;
    font-weight: bold;
}

#promo {
    background-color: #ff8000;
	color : white;
}